<%= form_with(model: movie, local: true) do |f|  %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, focus: true %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5 %>
  </p>
  <p>
    <%= f.label :total_gross %><br>
    <%= f.number_field :total_gross %>
  </p>
    <p>
    <%= f.label :released_on %><br>
    <%= f.datetime_select :released_on, { ampm: true}, {class: 'datetime'} %>
  </p>
    <%= f.submit %><br>  
<%end%>