<ul>
<% @movies.each do |movie| %>
  <li>
    <stong><%= link_to movie.title, movie_path(movie) %></stong>( <%= movie.rating %> ):
     <%= total_gross(movie) %>
     <p>
       <%= truncate(movie.description, length: 40, seperator: ' ') %>
     </p>
     <p>
     realeased <%= release_date(movie) %>
     </p>
  </li>
<% end %>
</ul>